
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}

p {
    font-size: 14px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 18px;
}

.header-menu-container {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.header-menu-container a img{
    height: 30px;
}

.header-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    background-image: url("img/Tomatplanta blur (small) (1).jpg");
    background-size: cover;
    height: 300px;
}

.header-grid-container article.h-container {
    grid-row: 2;
}

.header-grid-container article.h-container h1 {
    font-size: 42px;
    margin-left: 40px;
}

.header-grid-container article.button-container {
    width: 500px;
    grid-column: 1 / span 1;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 40px;
} 

.header-grid-container article.button-container a {
    margin: 40px;
}

section.advice article {
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(4, auto);
}

section.advice article h2 {
    height: auto;
    grid-row: 1 / 2;
}

section.advice article img {
    height: 220px;
    width: 160px;
    grid-row: 2 / 3;
    display: flex;
}

section.advice article p {
    height: auto;
    grid-row: 3 / 4;
}

section.recipes article {
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(4, auto);
}

section.recipes article h2 {
    height: auto;
    grid-row: 1 / 2;
}

section.recipes article img {
    height: 220px;
    width: 160px;
    grid-row: 2 / 3;
    display: flex;
}

section.recipes article p {
    height: auto;
    grid-row: 3 / 4;
}

section.aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
}

section.aside .aside-left {
    display: grid;
    grid-column: 1 / 2;
}

div.splide {
    display: grid;
    grid-column: 2 / 3;
}

div.splide div.splide__track ul.splide__list li.splide__slide img {
    width: 100%;
    height: auto;
    flex: 1;
}

div.border-black {
    width: 200px;
    height: 20px;
    border: 1px solid black;
}

footer {
    background-color: #C8BEB1;
}