
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}
  

main {
    margin: 10px;
}

h1 {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

h2 {
    font-size: 18px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

a {
    height: 30px;
    width: 80px;
    text-decoration-line: none; 
    color: black;
    border: 1px solid white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu-container {
    height: 30px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.header-menu-container a img{
    height: 30px;
}

.header-grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    background-color: black;
    background-image: url("img/Tomatplanta blur (small) (1).jpg");
    background-size: cover;
    height: 300px;
}

.header-grid-container article.h-container {
    grid-row: 2;
}

.header-grid-container article.h-container h1 {
    font-size: 42px;
    margin-left: 40px;
}

.header-grid-container article.button-container {
    width: 500px;
    grid-column: 1 / span 1;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 40px;
} 

.header-grid-container article.button-container a {
    margin: 40px;
}

.advice {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 20px;
}

.advice div img {
    height: 80%;
    width: 100%;
}

.advice-h {
    height: auto;
    grid-row: 1 / 2;
}

.advice-one {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
}

.advice-two {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
}

.advice-three {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    text-align: center;
}

.advice-four {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    text-align: center;
}

.recipes {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 20px;
}

.recipes div img {
    height: 80%;
    width: 100%;
}

.recipes-h {
    height: auto;
    grid-row: 1 / 2;
}

.recipes-one {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    text-align: center;
}

.recipes-two {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
}

.recipes-three {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    text-align: center;
}

.recipes-four {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    text-align: center;
}



section.aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
}

.aside-left {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splide__track {
    color: black;
    background-color: white;
}

div.splide {
    display: grid;
    grid-column: 2 / 3;
}

div.splide div.splide__track ul.splide__list li.splide__slide img {
    width: 100%;
    height: auto;
    flex: 1;
}

div.border-black {
    width: 200px;
    height: 20px;
    border: 1px solid black;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    background-color: #C8BEB1;
}

footer ul.no-bullets-news {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

footer ul.no-bullets-about {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}